body {
	background-image: stown.jpg;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	font-family: Herculanum;
	color: #000000;
	padding: 24px;
	text-align: center;
}

h1 { 
  	color: white;
  	padding: 10;
	overflow: hidden;
	text-align: center;
	font-family: Herculanum;
	font-size: 50px;
}

hr {
	border-width: 5px;
}



a {
	color:white;
	font-family:Herculanum;

}

p {
    	text-align: center;
    	color: white;
    	font-family: Herculanum;
}
