html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  }

body {
	/*background-image: grandcanyon.jpg;*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	font-family: Times;
	color: #000000;
	text-align: center;
}

h1 { 
        color: white;
        background-color: #C0C0C0;
        padding: 0;
        margin-right: 300;
        margin-left: 300;
	margin-top: 0;
	margin-bottom: 100;
	overflow: hidden;
	text-align: center;
	font-family: Georgia;
}




li {
	color:white;
	font-family:Georgia;
	font-size: 200%;
	text-align: left;
	display: inline;
	
}

p.center {
    text-align: center;
    color: black;
    font-family: Times;
}
