h1 { 
        color: white;
        background-color: #666666;
        padding: 0;
        margin-right: 300;
        margin-left: 300;
	margin-top: 0;
	margin-bottom: 0;
	overflow: hidden;
	text-align: center;
	font-family: Georgia;
}


body {
	background-image: url("img/grandcanyon.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	font-family: Times;
	color: #000000;
	padding: 24px;
	text-align: center;
}

h3 {
	color:white;
	background-color: #666666);
	font-family:Georgia;
	
}

p.center {
    text-align: center;
    color: black;
    font-family: Times;
}
