body {
	background-image: grandcanyon.jpg;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	font-family: Times;
	color: #000000;
	text-align: center;
}

h1 { 
        color: white;
        background-color: rgb(173,32,7,.75);
        padding: 0;
        margin-right: 300;
        margin-left: 300;
	margin-top: 0;
	margin-bottom: 100;
	overflow: hidden;
	text-align: center;
	font-family: Georgia;
}




h3 {
	color:white;
	background-color: #666666);
	font-family:Georgia;
	
}

p.center {
    text-align: center;
    color: black;
    font-family: Times;
}
