html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  }

h1 { 
        color: white; 
        padding: 0;
        background-color: #666666;
        margin-right: 300;
        margin-left: 300;
	margin-top: 100;
	margin-bottom: 100;
	overflow: hidden;
	text-align: center;
	font-family: Georgia;
}


body {
	background-image: havasu.jpg;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	font-family: Herculanum;
	color: #000000;
	padding: 24px;
	text-align: center;
}

div {
    background-color: lightgrey;
    width: 300px;
    padding: 30px;
    margin: 90px;
}


